<template>
    <div>
        <el-row>
            <el-col :span="6">Contracts</el-col>
            <el-col :span="6">Clients</el-col>
            <el-col :span="6">Signed On</el-col>
            <el-col :span="6">End On</el-col>
        </el-row>
        <contract-app
                v-for="(item, index) in contractsList"
                :contract="item"
                :key="index"
                :clientName="client"
        />
    </div>
</template>

<script>
import ContractApp from '@/views/contracts/contract/Contract.vue'

export default {
  name: 'Contracts',
  props: ['contractsList', 'client'],
  data () {
    return {
      nextPage: 0
    }
  },
  computed: {
  },
  components: {
    ContractApp
  }
}
</script>

<style scoped>

</style>
