<template>
    <div>
        <div class="contract" @click="changeDialogVisibility" >
            <el-col :span="6"> {{ cont.number }}</el-col>
            <el-col :span="6"> {{ clientName }}</el-col>
            <el-col :span="6"> {{ cont.signed_at }}</el-col>
            <el-col :span="6"> {{ cont.valid_till }}</el-col>
            <hr>
        </div>
        <el-dialog
                title="Contract"
                :visible.sync="dialogIsVisible"
                width="40%"
                center>
            <span>You are about to Edit the contract information</span>
                <el-form :model="form" label-width="120px">
                    <el-form-item label="Contract">
                        <el-input v-model="form.contractNumber" type="text"></el-input>
                    </el-form-item>
                    <el-form-item label="Signed On">
                        <el-date-picker
                                format="yyyy/MM/DD"
                                value-format="yyyy-MM-DD"
                                v-model="form.signedOn" type="date">

                        </el-date-picker>
                    </el-form-item>
                    <el-form-item label="Ends On">
                        <el-date-picker
                                format="yyyy/MM/DD"
                                value-format="yyyy-MM-DD"
                                v-model="form.endsOn" type="date">
                        </el-date-picker>
                    </el-form-item>
                </el-form>
            <span slot="footer" class="dialog-footer">
                 <el-button @click="changeDialogVisibility">Cancel</el-button>
                 <el-button type="primary" style="background-color: dodgerblue"
                            @click="update">Confirm</el-button>
            </span>
        </el-dialog>
    </div>
</template>

<script>
export default {
  name: 'Contract',
  props: ['contract', 'clientName'],
  data () {
    return {
      dialogIsVisible: false,
      form: {
        contractNumber: this.contract.number,
        signedOn: this.contract.signed_at,
        endsOn: this.contract.valid_till
      },
      cont: this.contract
    }
  },
  methods: {
    changeDialogVisibility () {
      this.dialogIsVisible = !this.dialogIsVisible
    },
    update: async function () {
      try {
        const data = {
          number: this.form.contractNumber,
          signed_at: this.form.signedOn,
          valid_till: this.form.endsOn,
          id: this.cont.id,
          cid: this.cont.cid,
          sid: this.cont.sid
        }
        const ct = await this.$store.dispatch('updateContract', data)
        this.cont = ct
      } catch (e) {
        console.log(e)
      }
      this.changeDialogVisibility()
    }
  }
}
</script>

<style scoped>
.contract:hover{
    cursor: pointer;
    background-color: darkseagreen;
}
</style>
