<template>
    <el-container>
        <div>
            <img alt="Vue logo" src="../assets/logo.png">
        </div>
        <div >
            <h1> Welcome To <strong> Contract Manager</strong> If You already have and account log in to start using the App</h1><br>

            <h2>you don't have an account?</h2>  <el-button class="el-button--primary">
            <router-link to="/register" > Sign Up</router-link>
        </el-button>

        </div>
    </el-container>
</template>

<script>

export default {
  name: 'home'
}
</script>
<style>

</style>
