<template>
    <el-header>
        <el-menu
                :default-active="activeLink"
                class="el-menu-demo"
                mode="horizontal"
                background-color="#2F4F4F"
                text-color="#FFFFFF"
                active-text-color="#8FBC8F">
                <el-menu-item index="1"><router-link to="/"> Home</router-link></el-menu-item>
                <el-menu-item index="2" :disabled="!isLogin"><router-link to="/companies"> Companies</router-link></el-menu-item>
                <el-menu-item index="3" v-if="!isLogin">
                    <router-link to="/login" class="btn "> Sign In</router-link>
                </el-menu-item>
                <el-menu-item index="4" v-else @click="logout">
                    Log out
                </el-menu-item>
        </el-menu>
    </el-header>
</template>

<script>
export default {
  name: 'Header',
  data () {
    return {
      activeLink: '1'
    }
  },
  methods: {
    logout () {
      this.$store.dispatch('logout', {})
      this.$router.replace('/')
    }
  },
  computed: {
    isLogin () {
      return this.$store.getters.getLoginStatus
    }
  }
}
</script>

<style scoped>
    .el-menu{
        justify-content: center;
    }
    a{
        font-size: medium;
    }
</style>
