<template>
    <div>
        <p>
            <small @click="showOrHideContract" style="cursor: pointer ">[ {{ show ? "-": "+"}} ]</small>
            {{ company.name}}
        </p>
        <contracts-app v-if="show" :contractsList="contracts" :client="company.name"/>
    </div>
</template>

<script>
import ContractsApp from '../../contracts/Contracts.vue'

export default {
  name: 'Company',
  props: ['company'],
  data () {
    return {
      show: false
    }
  },
  methods: {
    showOrHideContract () {
      this.show = !this.show
    }
  },
  components: {
    ContractsApp
  },

  async created () {
    const ctrs = await this.$store.dispatch('fetchContractsByCompanyId', this.company.id)
    this.contracts = ctrs
  }
}
</script>

<style scoped>

</style>
