<template>
  <div id="app">
    <header-app />
    <el-main>
      <router-view/>
    </el-main>
  </div>
</template>

<script>
import HeaderApp from '@/components/Header.vue'
export default {
  data () {
    return {
      isLogin: false
    }
  },
  created () {
    this.isLogin = this.$store.getters.getLoginStatus
    this.$store.dispatch('loadUser')
  },
  components: {
    HeaderApp
  }
}
</script>
<style>
  #nav {
    padding: 30px;
    text-align: center;
    background-color: darkslategrey;
  }

  #nav a {
    font-weight: bold;
    color: white;
  }

  #nav a.router-link-exact-active {
    color: darkseagreen;
  }

  .el-row{
    background-color: gray;
    border-radius: 4px;
    height: 2rem;
    font-size: 1.5rem;
    text-align: center;
  }
  .el-col{
    text-align: center;
    margin-bottom: 3px;
  }

</style>
