<template>
    <div>
        <div v-if="!errMsg">
            <p class="page-header"> List Of Company</p>
            <el-pagination
                    background
                    layout="prev, pager, next, slot"
                    :page-size="5"
                    :total="companiesList.length">
                <div>
                    <company-app v-for="item in companiesList" :company="item" :key="item.id"/>
                </div>
            </el-pagination>
        </div>
        <div v-if="errMsg">
            <p style="text-align: center"> {{errMsg}} </p>
        </div>
    </div>

</template>

<script>
import CompanyApp from '../companies/company/Company.vue'

export default {
  name: 'Companies',
  data () {
    return {
      companiesList: [],
      errMsg: null
    }
  },
  components: {
    CompanyApp
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      const isLogin = vm.$store.getters.getLoginStatus
      if (!isLogin) {
        vm.$router.push('/login')
      } else {
        vm.$router.push('/companies')
      }
    })
  },
  async created () {
    const comp = await this.$store.dispatch('fetchAllCompanies')
    if (comp) {
      this.companiesList = comp
    } else {
      this.errMsg = 'Could Not fetch Companies List'
    }
    await this.$store.dispatch('fetchAllContracts')
  }
}
</script>

<style scoped>
    .page-header {
        text-align: center;
        font-size: 1.5rem;
        padding-bottom: 1.5rem;
    }
</style>
