<template>
    <el-container style="justify-content: center; margin-top: 12rem;">
        <el-form label-width="150px">
            <div v-if="errMsg" style="color: red; font-size: small"> {{errMsg}}</div>
            <el-form-item label="Email">
                <el-input type="email" placeholder="Email"
                          :class="{invalid: $v.form.email.$error}"
                          v-model="form.email" @blur="$v.form.email.$touch()"/>
            </el-form-item>
            <el-form-item label="Password">
                <el-input type="password" placeholder="Password"
                          :class="{invalid: $v.form.password.$error}"
                          v-model="form.password" @blur="$v.form.password.$touch()"/>
            </el-form-item>
            <el-form-item>
                <el-button class="el-button--primary" @click="signin"
                           :disabled="$v.$invalid">Sign In</el-button>
            </el-form-item>
        </el-form>
    </el-container>
</template>

<script>
import { email, required } from 'vuelidate/lib/validators'
export default {
  name: 'Login',
  data () {
    return {
      form: {
        email: '',
        password: ''
      },
      errMsg: ''
    }
  },
  methods: {
    async signin () {
      try {
        const result = await this.$store.dispatch('login', { ...this.form })
        console.log('result', result)
        if (result === true) {
          this.$router.push('/companies')
        }
        return new Error(result)
      } catch (err) {
        this.errMsg = err.message
        console.log(err)
      }
    }
  },
  validations: {
    form: {
      email: { email, required },
      password: { required }
    }
  }
}
</script>

<style scoped>

    div.invalid{
        border: 1px solid red;
        border-radius: 4px;
        height: 40px;
    }
</style>
