<template>
    <el-container style="justify-content: center; margin-top: 12rem;">
        <el-form label-width="150px">
            <div v-if="errMsg" style="color: red"> {{errMsg}}</div>
            <el-form-item label="Email">
                <el-input type="email" placeholder="Email"
                          :class="{invalid: $v.form.email.$error}"
                          v-model="form.email" @blur="$v.form.email.$touch()"/>
            </el-form-item>
            <el-form-item label="Username">
                <el-input type="email" placeholder="Username"
                          :class="{invalid: $v.form.username.$error}"
                          v-model="form.username" @blur="$v.form.username.$touch()"/>
            </el-form-item>
            <el-form-item label="Password">
                <el-input type="password" placeholder="Password"
                          :class="{invalid: $v.form.password.$error}"
                          v-model="form.password" @blur="$v.form.password.$touch()"/>
            </el-form-item>
            <el-form-item label="Password Confirmation">
                <el-input type="password" placeholder="Password"
                          :class="{invalid: $v.form.confirmPassword.$error}"
                          v-model="form.confirmPassword" @blur="$v.form.confirmPassword.$touch()"/>
            </el-form-item>
            <el-form-item>
                <el-button class="el-button--primary" @click="register"
                           :disabled="$v.$invalid">Sign In</el-button>
            </el-form-item>
        </el-form>
    </el-container>
</template>

<script>
import { required, email, sameAs } from 'vuelidate/lib/validators'
export default {
  name: 'Registration',
  data () {
    return {
      form: {
        email: '',
        password: '',
        username: '',
        confirmPassword: ''
      },
      errMsg: null
    }
  },
  methods: {
    async register () {
      const data = {
        email: this.form.email,
        password: this.form.password,
        username: this.form.username
      }
      try {
        const result = await this.$store.dispatch('register', { ...data })
        if (result === true) {
          this.$router.push('/login')
        }
      } catch (error) {
        this.errMsg = error.message
      }
    }
  },
  validations: {
    form: {
      email: { email, required },
      username: { required },
      password: { required },
      confirmPassword: { required, sameAs: sameAs('password') }
    }
  }
}
</script>

<style scoped>
    .el-container{
      justify-content: center;
      margin-top: 12rem;
    }
    div.invalid{
        border: 1px solid red;
        border-radius: 4px;
        height: 40px;
    }
</style>
